{% extends "goods/base.html" %}
{% block sidebar %}
{% endblock %}

{% block content %}
    <style>
        .wraper_form {
            background-color: #adb5bd;
            max-width: 600px;
            padding: 20px;
            border: 3px solid #adb5bd;
            border-radius: 10px;
            margin: 50px auto;
        }
    </style>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <div class="wraper_form">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input class="btn btn-outline-success" type="submit" value="LogIn"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>


    {# Assumes you setup the password_reset view in your URLconf #}
    {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}
